* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    height: 20%;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    background-color: #111111;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
  }

ul {
    list-style-type : none;
    margin : 0;
    padding : 0;
    overflow : hidden;
    background-color : #333333;
  
}
li {
    float:right;

}
li a {
    display : block;
    justify-content : flex-end;
    color : white;
    text-align:center;
    padding : 16px;
    text-decoration:none;
    cursor:pointer;
}

li a:hover {
    background-color : #111111;
}
div {
    border: 30px solid #f1f1f1; 
    margin: 0;
}
div > *{
    margin : 0;
}
img{
    transform: rotate(5deg);
    background-color: #777;
}
p{
  position: relative;
  left:300px;
  bottom : 250px;
}
footer{
    bottom:0;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
    background-color: #777;
    padding:0.5%;
    margin:0;
}
 footer >* {
    text-align: center;
    color: white;
    display : block;
  }